<div class="agregar agregar_personal" ng-controller="Admin">
	<p>
		<a class="btn btn-volver" href="./#/dependencias"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
	</p>

	<h2>Crear dependencia</h2>

	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="agregardependencia_nombre" maxlength="64" placeholder="Ej. Escuela de Ingeniería Informática" />
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" ng-click="registrar_dependencia()"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="cerrar_seccion()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button> 
		</div>
	</div>
</div>