<form class="agregar agregar_mencion" ng-controller="Mencion" ng-submit="registrar_mencion()">
	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="mencion.nombre" required maxlength="64" placeholder="Ej. Audiovisual" />
		</div>

		<div class="fila" ng-if="!editar">
			<p>Carrera (*)</p>
			<select ng-init="cargar_carreras()" ng-model="mencion.carrera" required ng-options="c.id as c.nombre for c in carreras"></select>
		</div>

		<div class="fila" ng-if="editar">
			<p>Carrera (*)</p>
			<select ng-init="cargar_carreras()" ng-model="mencion.cid" required ng-options="c.id as c.nombre for c in carreras"></select>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit">Finalizar</button>
		</div>
	</div>
</form>