<form class="agregar agregar_carrera" ng-controller="Carrera" ng-init="init_form_cache()" ng-submit="registrar_carrera()">
	<p>
		<a class="btn btn-link" href="./#/carreras">&larr; Volver</a>
	</p>

	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="carrera.nombre" required maxlength="64" placeholder="Ej. Ingeniería Informática" />
		</div>

		<div class="fila" ng-hide="editar">
			<p>Tipo (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="carrera.tipo" ng-init="carrera.tipo = 'Semestral'" ng-options="t as t for t in tipos_de_carrera"></select>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit">Aceptar</button>
		</div>
	</div>
</form>