<form class="agregar agregar_mencion" ng-controller="Mencion" ng-submit="registrar_mencion()">
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/menciones">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Menciones &rarr; {{ editar ? 'Editar' : 'Crear' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="mencion.nombre" required maxlength="64" placeholder="Ej. Audiovisual" />
		</div>

		<div class="fila" ng-if="!editar">
			<p>Carrera (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-init="cargar_carreras()" ng-model="mencion.carrera" required ts-select-fix>
				<option ng-repeat="c in carreras" ng-value="c.id">{{ c.nombre }}</option>
			</select>
		</div>

		<div class="fila" ng-if="editar">
			<p>Carrera (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-init="cargar_carreras()" ng-model="mencion.cid" required ts-select-fix>
				<option ng-repeat="c in carreras" ng-value="c.id">{{ c.nombre }}</option>
			</select>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit">Aceptar</button>
		</div>
	</div>
</form>