<form class="agregar agregar_materia" ng-controller="Materia" ng-submit="registrar_materia()">
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/materias"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
		</p>

		<h1 style="font-size: 20px;">Materias <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Editar</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="materia.nombre" required maxlength="64" placeholder="Ej. Cálculo 1" />
		</div>

		<div class="fila" ng-init="cargar_carreras()">
			<p>Carrera (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="materia.carrera_id" required ng-options="c.id as c.nombre for c in carreras" ng-change="cargar_periodos()"></select>
		</div>

		<div class="fila">
			<p>Período (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="materia.periodo_id" required ng-options="p.id as (p.periodo + (p.tipo == 'Anual' ? ' año' : ' semestre')) for p in periodos"></select>
		</div>

		<div class="fila" ng-init="cargar_tipos()">
			<p>Tipo (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="materia.tipo_id" ng-change="materia.tipo = materia.tipo_id;" required ng-options="c.id as c.nombre disable when c.estado == 0 for c in tipos"></select>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
		</div>
	</div>
</form>