<div class="seccion" ng-controller="Materia">
	<p>
		<a href="./#/materias/agregar" class="btn btn-link" ng-show="loginService.getCurrentUser().materias_agregar">Agregar materia</a>
	</p>

	<p>
		Buscar materia <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" /> 
		<input type="checkbox" ng-model="solo_activos" ng-init="solo_activos = false;" /> Ver solo habilitados
	</p>

	<table class="table table-stripped table-fixed-style" ng-init="cargar_materias()">
		<thead>
			<th ng-show="loginService.getCurrentUser().materias_editar || loginService.getCurrentUser().materias_deshabilitar">&nbsp;</th>
			<th class="text-center">Nombre</th>
			<th class="text-center">Dictada en</th>
			<th class="text-center">Estado</th>
		</thead>
		<tbody>
			<tr ng-repeat="p in materias" 
				ng-if="
					(p.nombre.indexOf(busqueda) != -1 ||
					p.carrera.indexOf(busqueda) != -1)

					&& (solo_activos == false || p.estado == 1)
				"
				class="{{ p.estado == 0 ? 'bg-danger' : '' }}">
				<td ng-show="loginService.getCurrentUser().materias_editar || loginService.getCurrentUser().materias_deshabilitar" class="text-center">
					<div class="btn-group">
						<a ng-show="loginService.getCurrentUser().materias_editar" href="./#/materias/editar/{{ p.id }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
						</a>

						<span ng-click="cambiar_estado(p.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().materias_deshabilitar && p.estado == 1" title="Deshabilitar" style="color: #c9302c !important;"></span>
						<span ng-click="cambiar_estado(p.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="loginService.getCurrentUser().materias_deshabilitar && p.estado == 0" title="Habilitar" style="color: #449d44 !important;"></span>
					</div>
				</td>
				<td class="text-center">{{ p.nombre }}</td>
				<td class="text-center">{{ p.periodo }} {{ p.tipo_carrera == 'Semestral' ? ' semestre' : ' año' }} de {{ p.carrera }}</td>
				<td class="text-center">{{ p.estado == 1 ? 'Habilitado' : 'Deshabilitado' }}</td>
			</tr>
		</tbody>
	</table>
</div>