<div class="personal seccion" ng-controller="Personal">
	<p>
		<a href="./#/personal/agregar" class="btn btn-link" ng-show="$parent.login_info.personal_agregar">Agregar personal</a>
	</p>

	<div ng-show="$parent.login_info.personal_ver">	
		<p>
			Buscar personal <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" />
		</p>

		<table class="table table-stripped table-fixed-style" ng-init="cargar_personal()">
			<thead>
				<th ng-show="$parent.login_info.personal_editar || $parent.login_info.personal_deshabilitar">&nbsp;</th>
				<th class="text-center">Nombre</th>
				<th class="text-center">Cédula</th>
				<th class="text-center">Teléfono</th>
				<th class="text-center">Correo electrónico</th>
				<th class="text-center">Estado</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in personal" 
					ng-if="p.id > 1 && p.id != $parent.login_info.id && (
						p.nombre_completo.indexOf(busqueda) != -1 ||
						p.cedula.indexOf(busqueda) != -1 ||
						p.telefono.indexOf(busqueda) != -1 ||
						p.email.indexOf(busqueda) != -1
					)"
					class="{{ p.estado == 0 ? 'bg-danger' : '' }}">
					<td ng-show="$parent.login_info.personal_editar || $parent.login_info.personal_deshabilitar" class="text-center">
						<div class="btn-group">
							<a ng-show="$parent.login_info.personal_editar" href="./#/personal/editar/{{ p.id }}">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
							</a>

							<span ng-click="cambiar_estado(p.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="$parent.login_info.personal_deshabilitar && p.estado == 1" title="Deshabilitar" style="color: #c9302c !important;"></span>
							<span ng-click="cambiar_estado(p.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="$parent.login_info.personal_deshabilitar && p.estado == 0" title="Habilitar" style="color: #449d44 !important;"></span>
						</div>
					</td>
					<td class="text-center">{{ p.nombre_completo }}</td>
					<td class="text-center">{{ p.cedula }}</td>
					<td class="text-center">{{ p.telefono }}</td>
					<td class="text-center">{{ p.email }}</td>
					<td class="text-center">{{ p.estado == 1 ? 'Habilitado' : 'Deshabilitado' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>