<form class="agregar seccion" ng-controller="Pedido" name="agregar" ng-submit="registrar_pedido()">	
	<div class="register-form" ng-init="pedido.departamento = loginService.getCurrentUser().departamento; pedido.username = loginService.getCurrentUser().username">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/pedidos">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Pedidos &rarr; {{ editar ? 'Editar' : 'Crear' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Cliente (*) <span class="badge" ng-hide="pedido.agregarcliente" ng-click="agregar_cliente()" title="Añadir nuevo cliente">+</span> <span class="badge" ng-click="editar_cliente()">Editar</span></p>

			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="pedido.cliente" ng-init="pedido.cliente = pedido.did;" ng-hide="pedido.agregarcliente" name="cliente" required ng-minlength=1>
				<option ng-repeat="c in clientes | quitarDeshabilitados" value="{{c.id}}">{{ c.nombre }} - {{ c.ni }}</option>
			</select>
			<br/>
		</div>

		<div class="fila">
			<p>Observaciones</p>
			<textarea name="observaciones" ng-model="pedido.observaciones"></textarea>
		</div>

		<div ng-show="loginService.getCurrentUser().departamento == 'Caja' || loginService.getCurrentUser().departamento == 'Originales' || loginService.getCurrentUser().departamento == null">
			<h2 style="cursor:pointer;" data-toggle="collapse" data-target=".filtros">[+] Añadir guía</h2>
			<div class="filtros collapse" aria-expanded="false">
				<div class="fila">
					<span style="float:left;">Código&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<input type="number" name="codigo" ng-model="filtros.codigo" ng-change="cargar_guias();" />
				</div>

				<div class="fila">
					<span style="float:left;">Carrera&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<select ng-model="filtros.carrera" ng-init="filtros.carrera = -1" name="carrera" ng-change="cargar_materias(); cargar_periodos(); cargar_guias();">
						<option value="-1" selected>----- NO APLICA -----</option>
						<option ng-repeat="c in carreras" ng-if="c.estado == 1" value="{{ c.id }}">{{ c.nombre }}</option>
					</select>
				</div>

				<div class="fila">
					<span style="float:left;">Materia&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<select ng-model="filtros.materia" ng-init="filtros.materia = -1" name="materia" ng-options="c.id as c.nombre group by (c.periodo + (c.tipo_carrera == 'Semestral' ? ' semestre' : (c.tipo_carrera == 'Anual' ? ' año' : ''))) for c in materias | quitarDeshabilitados" ng-change="cargar_guias();">
						<option value="-1">----- NO APLICA -----</option>
					</select>
				</div>

				<div class="fila">
					<span style="float:left;">Período&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<select ng-model="filtros.periodo" ng-init="filtros.periodo = -1" ng-change="cargar_guias();">
						<option value="-1">----- NO APLICA -----</option>
						<option ng-repeat="p in periodos" value="{{ p.periodo }}">{{ p.periodo + (p.tipo == 'Anual' ? ' año' : (p.tipo == 'Semestral' ? ' semestre' : '')) }}</option>
					</select>
				</div>

				<div class="fila" ng-init="cargar_profesores()">
					<span style="float:left;">Profesor&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<select name="profesor" ng-model="filtros.profesor" ng-init="filtros.profesor = -1" ng-change="cargar_guias();">
						<option value="-1">----- NO APLICA -----</option>
						<option ng-repeat="p in profesores">{{ p.nombre_completo }}</option>
					</select>
				</div>

				<div class="fila">
					<span style="float:left;">Páginas&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<input type="number" name="nro_paginas" ng-model="filtros.nro_paginas" ng-change="cargar_guias();" />
				</div>
			</div>

			<div class="guias_resultados">
				<p ng-repeat="g in guias">
					<span class="glyphicon glyphicon-plus" aria-hidden="true" style="cursor: pointer;" ng-click="agregar_guia(g.idproducto, g.titulo)"></span> 
					[Código: {{ g.codigo }}] {{ g.titulo }} ({{ g.producto.cantidad }} páginas)
				</p>
			</div>
		</div>


		<!--<input type="text" class="buscador-guia" name="guia" placeholder="Use cualquier campo de una guía para comenzar a buscar.." ng-init="cargar_guias()" />-->

		<h2 ng-init="cargar_productos_venta()">Productos <small><a href="" ng-click="anadir_producto()">Añadir producto</a></small><small style="float: right;"><a href="" ng-click="requerir_autorizacion()">Hacer descuento</a></small></h2>

		<table class="table table-stripped" ng-init="pedido.productos = pedido.productos ? pedido.productos : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Producto (*)</th>
				<!-- <th># Copias (*)</th>
				<th># Originales (*)</th> -->
				<th>Cantidad</th>
				<th>Costo unitario</th>
				<th>Costo total</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in pedido.productos">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_producto($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<select ng-hide="pedido.productos[$index].producto_nombre" class="selectpicker" data-live-search="true" title="" name="producto_{{ $index }}" ng-model="pedido.productos[$index].producto" ng-change="actualizar_costo_unitario($index); chequear_disponibilidad($index);" required ng-minlength=1 ts-select-fix>
							<option ng-repeat="pr in productos | quitarDeshabilitados | quitarGuias" data-tokens="{{ pr.tokens }}" value="{{ pr.id }}">{{ pr.nombre }}</option>
						</select>

						<p ng-show="pedido.productos[$index].producto_nombre"><span class="badge" ng-hide="pedido.productos[$index].encuadernado" title="Encuadernar" ng-click="pedido.productos[$index].encuadernado = 1;">E</span><span ng-show="pedido.productos[$index].encuadernado">[Encuadernado]</span> {{ pedido.productos[$index].producto_nombre }}</p>

						<div ng-if="pedido.productos[$index].encuadernado">
							Tapa
							<select ng-model="pedido.productos[$index].tapa" required>
								<option>10T</option>
								<option>11T</option>
								<option>12N</option>
							</select>
							<br>

							Espiral
							<select ng-model="pedido.productos[$index].espiral" required>
								<option>10</option>
								<option>12</option>
								<option>14</option>
								<option>16</option>
							</select>
						</div>

						<p class="text-danger" ng-if="pedido.productos[$index].errores.length > 0">
							Materiales insuficientes: 
							<p class="text-danger" ng-repeat="e in pedido.productos[$index].errores">
								{{ e.material }}
							</p>
							<input type="text" value="" name="check_disponibilidad_{{ $index }}" ng-minlength=1 ng-model="pedido.productos[$index].check_disponibilidad" ng-show="1==0" ng-if="pedido.productos[$index].errores.length > 0" required />
						</p>
					</td>
					<td>
						<input type="number" string-to-number name="nrocopias_{{ $index }}" ng-model="pedido.productos[$index].nro_copias" ng-min=1 required ng-minlength=0 ng-pattern="/^[0-9]+$/" ng-model-options="{ updateOn: 'blur' }" ng-change="chequear_disponibilidad($index)" />
					</td>
					<td ng-show="false">
						<input type="number" string-to-number name="nrooriginales_{{ $index }}" ng-model="pedido.productos[$index].nro_originales" ng-min=1 required ng-minlength=0 ng-pattern="/^[0-9]+$/" ng-model-options="{ updateOn: 'blur' }" ng-change="chequear_disponibilidad($index)" />
					</td>
					<!--<td>
						{{ pedido.productos[$index].nro_copias * pedido.productos[$index].nro_originales }}
					</td> -->
					<td ng-init="actualizar_costo_unitario($index)">
						<strong>{{ pedido.productos[$index].costo_unitario | currency:'Bs. ' }}</strong><br/>
						<small style="cursor: help;" data-toggle="tooltip" data-placement="top" title="Es el costo asociado cuando se añadió este producto a esta pedido el {{ pedido.productos[$index].fecha_anadido }}">{{ pedido.productos[$index].costo_unitario_facturado | currency:'Bs. ' }}</small>

						<input type="number" style="border: 1px solid red;" ng-model="pedido.productos[$index].costo_unitario_facturado" name="costo_unitario_facturado" ng-show="autorizado" />
					</td>
					<td>
						<strong>{{ ((pedido.productos[$index].costo_unitario_facturado ? pedido.productos[$index].costo_unitario_facturado : pedido.productos[$index].costo_unitario) * (pedido.productos[$index].nro_copias * pedido.productos[$index].nro_originales)) | currency:'Bs. ' }}</strong><br/>

						<script> $('[data-toggle="tooltip"]').tooltip(); </script>
					</td>
				</tr>
				<tr ng-show="pedido.productos.length > 0">
					<td></td>
					<td></td>
					<td></td>
					<!-- <td></td>
					<td></td> -->
					<td class="text-right" style="font-weight: bold;">Total</td>
					<td style="font-weight: bold;">{{ pedido.productos | calcularTotalBsDeProductos | currency:'Bs. ' }}</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Aceptar</button>
			<button class="btn btn-sm btn-danger" ng-click="cerrar_seccion()">Cancelar</button> 
		</div>
	</div>
</form>