@navbar_width: 20vw;

* {
	font-family: "Verdana" !important;
	transition: all .2s linear;
}

button {
	transition: none !important;
}

.badge {
	cursor: pointer;
}

.status-aprobada {
	color: #5cb85c;
	text-transform: uppercase;
}

.status-rechazada {
	color: #d9534f;
	text-transform: uppercase;
}

.status-pendiente {
	color: #f0ad4e;
	text-transform: uppercase;
}

.status-inactiva {
	color: #444;
	text-decoration: line-through;
	text-transform: uppercase;
}

.navbar {
	left: 0;
	position: fixed;
	width: @navbar_width;
	height: 100vh;
	padding: 20px 10px;
	background-color: #ddd;

	a {
		text-decoration: none;

		p {
			text-decoration: none;
			color: black;
			border-radius: 5px;
			padding: 5px 8px;

			&:hover {
				color: black;
				text-decoration: none;
				background-color: #ccc;
			}
		}
	}
}

.titulo_seccion {
	font-size: 18px;
	width: @navbar_width;
	margin-left: -11px;
	padding: 5px 10px;
	background-color: #aaa;
	cursor: pointer;
}

.progress {
	height: 25px;
	border-radius: 5px;
	border: #666;
	float: left;
	width: 75%;
}

.register-form {
	width: 70%;
	display: inline-block;
	margin-bottom: 100px;

	.fila {
		width: 100%;
		float: left;
		margin-bottom: 20px;

		p {
			text-align: right;
			line-height: 30px;
			width: 25%;
			padding-right: 15px;
			float: left;
		}

		input, select {
			width: 75%;
			float: left;
			padding: 8px 10px;
			background-color: white;
			border: none;
			border-bottom: 1px solid #ccc;
			border-radius: 5px;
			outline: none !important;

			&:focus {
				border-bottom: 1px solid #333;
			}
		}

		input[type=file] {
			float: left;
			width: 35%;
			margin-right: 10%;
		}

		.btn-upload {
			width: 30% !important;
			float: left;
		}

		textarea {
			width: 75%;
			height: 110px;
			float: left;
			padding: 8px 10px;
			background-color: white;
			border: 1px solid #ccc;
			border-radius: 5px;
			outline: none !important;
			resize: none;

			&:focus {
				border: 1px solid #333;
			}
		}
	}
}

.buscar {
	input {
		width: 320px;
		padding: 8px 10px;
		background-color: white;
		border: none;
		border-bottom: 1px solid #ccc;
		border-radius: 5px;
		outline: none !important;
		margin-bottom: 25px;

		&:focus {
			border-bottom: 1px solid #333;
		}
	}

	select {
		width: 300px;
		padding: 8px 10px;
		background-color: white;
		border: none;
		border-bottom: 1px solid #ccc;
		border-radius: 5px;
		outline: none !important;
		margin-bottom: 25px;

		&:focus {
			border-bottom: 1px solid #333;
		}
	}
}

.agregar_guia, .buscar, .modificar {
	margin-left: @navbar_width;
	width: 100vw - @navbar_width;
	padding: 50px 30px;
}

.login {
	width: 400px;
	margin: 0 auto;
	padding: 20px 25px;
	margin-top: 50px;

	.login_alert {
		color: red;
	}

	input {
		width: 100%;
		padding: 6px 10px;
		background-color: white;
		border: none;
		border-bottom: 1px solid #ccc;
		border-radius: 5px;
		outline: none !important;
		margin-bottom: 25px;

		&:focus {
			border-bottom: 1px solid #333;
		}
	}

	button {
		width: 100% !important;
	}
}