<form class="agregar seccion" ng-controller="Orden" name="agregar" ng-init="init_form_cache()" ng-submit="registrar_orden()">	
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-link" href="./#/ordenes">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Ordenes &rarr; {{ editar ? 'Editar' : 'Agregar' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nro. de Orden (*)</p>
			<input type="text" ng-model="orden.numero" name="numero" unique-bd="orden" ng-minlength=1 ng-maxlength=128 placeholder="Número de orden" ng-model-options="{ updateOn: 'blur' }" ng-disabled="editar" />

			<span ng-show="agregar.numero.$error.unique && orden.numero.length > 0">Número de orden ya existente</span>
		</div>

		<div class="fila">
			<p>Dependencia (*) <span class="badge" ng-hide="orden.agregardependencia" ng-click="agregar_dependencia()" title="Añadir nueva dependencia">+</span></p>

			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="orden.dependencia" ng-init="orden.dependencia = orden.did;" ng-hide="orden.agregardependencia" ng-options="d.id as d.nombre for d in dependencias | quitarDeshabilitados" name="dependencia" required ng-minlength=1></select>
			<br/>
		</div>

		<div class="fila">
			<p>Observaciones</p>
			<textarea name="observaciones" ng-model="orden.observaciones"></textarea>
		</div>

		<h2>Productos <small><a href="" ng-click="anadir_producto()">Añadir producto</a></small></h2>

		<table class="table table-stripped" ng-init="orden.productos = orden.productos ? orden.productos : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Producto (*)</th>
				<th># Copias (*)</th>
				<th># Originales (*)</th>
				<th>Cantidad</th>
				<th>Costo unitario</th>
				<th>Costo total</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in orden.productos">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_producto($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<select class="selectpicker" data-live-search="true" title="" name="producto_{{ $index }}" ng-model="orden.productos[$index].producto" ng-options="pr.id as pr.nombre for pr in productos | quitarDeshabilitados" ng-change="actualizar_costo_unitario($index)" required ng-minlength=1></select>
					</td>
					<td>
						<input type="number" string-to-number name="nrocopias_{{ $index }}" ng-model="orden.productos[$index].nro_copias" ng-min=1 required ng-minlength=0 ng-pattern="/^[0-9]+$/" />
					</td>
					<td>
						<input type="number" string-to-number name="nrooriginales_{{ $index }}" ng-model="orden.productos[$index].nro_originales" ng-min=1 required ng-minlength=0 ng-pattern="/^[0-9]+$/" />
					</td>
					<td>
						{{ orden.productos[$index].nro_copias * orden.productos[$index].nro_originales }}
					</td>
					<td ng-init="actualizar_costo_unitario($index)">
						<strong>{{ orden.productos[$index].costo_unitario | currency:'Bs. ' }}</strong><br/>
						<small style="cursor: help;" data-toggle="tooltip" data-placement="top" title="Es el costo asociado cuando se añadió este producto a esta orden el {{ orden.productos[$index].fecha_anadido }}">{{ orden.productos[$index].costo_unitario_facturado | currency:'Bs. ' }}</small>
					</td>
					<td>
						<strong>{{ ((orden.productos[$index].costo_unitario_facturado ? orden.productos[$index].costo_unitario_facturado : orden.productos[$index].costo_unitario) * (orden.productos[$index].nro_copias * orden.productos[$index].nro_originales)) | currency:'Bs. ' }}</strong><br/>

						<script> $('[data-toggle="tooltip"]').tooltip(); </script>
					</td>
				</tr>
				<tr ng-show="orden.productos.length > 0">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="text-right" style="font-weight: bold;">Total</td>
					<td style="font-weight: bold;">{{ orden.productos | calcularTotalBsDeProductos | currency:'Bs. ' }}</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>