<form class="agregar seccion" ng-controller="Orden" name="agregar" ng-submit="registrar_orden()">	
	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nro. de Orden (*)</p>
			<input type="text" ng-model="orden.numero" name="numero" unique-bd="orden" ng-minlength=1 ng-maxlength=128 placeholder="Número de orden" ng-model-options="{ updateOn: 'blur' }" />

			<span ng-show="agregar.numero.$error.unique && orden.numero.length > 0">Número de orden ya existente</span>
		</div>

		<div class="fila">
			<p>A servicio de (*)</p>
			<select ng-model="orden.dpto_ucab" name="dpto_ucab" ng-options="c.id as c.nombre for c in departamentos | quitarDeshabilitados" required ng-minlength=1></select>


		</div>

		<div class="fila">
			<p>Dependencia (*)<!-- <span class="badge" ng-hide="orden.agregardependencia" ng-click="orden.agregardependencia = 1" title="Añadir nueva dependencia">+</span>--></p>

			<select ng-model="orden.dependencia" ng-init="orden.dependencia = orden.did;" ng-hide="orden.agregardependencia" ng-options="d.id as d.nombre for d in dependencias | quitarDeshabilitados" name="dependencia" required ng-minlength=1></select>
			<br/>

			<!--<div class="agregar_orden" ng-if="orden.agregardependencia">
				<h2>Agregar dependencia</h2>

				<div class="fila">
					<p>Nombre</p>
					<input type="text" ng-model="orden.dependencia_nombre" ng-maxlength=64 ng-minlength=1 name="dependencia_nombre" placeholder="Ej. Escuela de Ingeniería Informática" required />
				</div>
			</div>-->
		</div>

		<div class="fila">
			<p>Nro. Copias (*)</p>
			<input type="number" string-to-number ng-model="orden.nro_copias" name="nro_copias" ng-minlength=1 required />
		</div>

		<div class="fila">
			<p>Nro. Originales (*)</p>
			<input type="number" string-to-number name="nro_originales" ng-model="orden.nro_originales" ng-minlength=1 required />
		</div>

		<div class="fila">
			<p>Producto</p>

			<select ng-model="orden.producto" ng-init="orden.producto = orden.pid;" ng-options="p.id as p.nombre for p in productos" name="producto" ng-minlength=1 required></select>
		</div>

		<div class="fila">
			<p>Para destinarlo a</p>

			<select ng-model="orden.destino" name="destino" ng-minlength=1 required>
				<option>----- NO APLICA -----</option>
				<option>Operación del Dpto.</option>
				<option>Cuenta abierta</option>
			</select>
		</div>

		<div class="fila">
			<p>Fecha inicio</p>

			<input type="date" name="fecha_inicio" ng-model="orden.fecha_inicio" required />
		</div>

		<div class="fila">
			<p>Fecha fin</p>

			<input type="date" ng-min="orden.fecha_inicio" name="fecha_fin" ng-model="orden.fecha_fin" required />
		</div>

		<div class="fila">
			<p>Observaciones</p>
			<textarea name="observaciones" ng-model="orden.observaciones"></textarea>
		</div>

		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Añadir</button>
		</div>
	</div>
</form>