<div class="seccion" ng-controller="Orden">

	<div ng-show="loginService.getCurrentUser().ordenes_ver">
		Buscar <input type="text" class="input_busqueda" ng-model="buscador" ng-init="buscador = ''" placeholder="Use cualquier campo para buscar" data-toggle="tooltip" data-placement="top" title="Se puede filtrar la información usando cualquier campo" /> 
		<input type="checkbox" ng-model="solo_activos" ng-init="solo_activos = false;" /> Ver solo habilitados
		<input type="checkbox" style="margin-left: 20px;" ng-model="solo_expiradas" ng-init="solo_expiradas = false;" /> Ver expiradas

		<script>
			$(document).ready(function(){
			    $('[data-toggle="tooltip"]').tooltip(); 
			});
		</script>

		<br/><br/>

		<table class="table table-stripped">
			<thead>
				<th ng-show="loginService.getCurrentUser().ordenes_editar || loginService.getCurrentUser().ordenes_deshabilitar">&nbsp;</th>
				<th class="text-center">Número</th>
				<th class="text-center">A servicio de</th>
				<th class="text-center">Dependencia</th>
				<th class="text-center">Destino</th>
				<th class="text-center">Costo total</th>
				<th class="text-center">Personas autorizadas</th>
				<th class="text-center">Observaciones</th>
			</thead>
			<tbody>
				<tr ng-repeat="o in ordenes"
					ng-if="
						(o.numero.indexOf(buscador) != -1 ||
						o.departamento.indexOf(buscador) != -1 ||
						o.dependencia.indexOf(buscador) != -1 ||
						o.destino.indexOf(buscador) != -1 ||
						o.fechas_str.indexOf(buscador) != -1 ||
						o.observaciones.indexOf(buscador) != -1)

						&& (solo_activos == false || o.estado == 1)

						&& (solo_expiradas == false || o.expirada == 1)"
					class="{{ o.estado == 0 ? 'bg-danger' : (o.expirada == 1 ? 'bg-warning' : '') }}">
					<td ng-show="loginService.getCurrentUser().ordenes_editar || loginService.getCurrentUser().ordenes_deshabilitar" class="text-center">
						<div class="btn-group">
							<a ng-show="loginService.getCurrentUser().ordenes_editar" href="./#/ordenes/editar/{{ o.id }}">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="top"></span>
							</a>

							<span ng-click="cambiar_estado(o.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().ordenes_deshabilitar && o.estado == 1" title="Deshabilitar" style="color: #c9302c !important;" data-toggle="tooltip" data-placement="top"></span>
							<span ng-click="cambiar_estado(o.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="loginService.getCurrentUser().ordenes_deshabilitar && o.estado == 0" title="Habilitar" style="color: #449d44 !important;" data-toggle="tooltip" data-placement="top"></span>

							<script> $('[data-toggle="tooltip"]').tooltip(); </script>
						</div>
					</td>
					<td class="text-center">{{ o.numero }}</td>
					<td class="text-center">{{ o.departamento }}</td>
					<td class="text-center">{{ o.dependencia }}</td>
					<td class="text-center">{{ o.cuentaabierta }}</td>
					<td class="text-center">{{ o.costo_total | currency:'Bs. ' }}</td>
					<td class="text-center">
						<p ng-repeat="p in o.personas">{{ p.nombre_completo }} C.I. {{ p.cedula }}</p>
					</td>
					<td class="text-center">{{ o.observaciones }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>