<form class="login" ng-submit="login()">
	<img src="img/LOGOTIPO 370X99.png" />
	<p class="login_alert hidden">Usuario o contraseña incorrecta</p>

	<!-- Campos de mentira para engañar a chrome y que no haga el autofill -->
	<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
	<input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />

	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
	  <input type="text" class="form-control" ng-model="$parent.login_form.username" autofocus="true" placeholder="Usuario" aria-describedby="basic-addon1">
	</div>

	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
	  <input type="password" class="form-control" ng-model="$parent.login_form.password" placeholder="Contraseña" aria-describedby="basic-addon1">
	</div>

	<button type="submit" name="submit" class="btn btn-primary form-control"><i class="fa fa-sign-in fa-fw fa-2x" aria-hidden="true"></i> Entrar</button>
</form>