<div class="navbar">
	<p class="titulo_seccion" ng-show="$parent.login_info[1] == 'admin'" data-toggle="collapse" data-target=".admin">Administrador</p>

	<div class="admin collapse" ng-show="$parent.login_info[1] == 'admin'" aria-expanded="false">
		<a href="./#/agregarpersonal">
			<p>Agregar personal</p>
		</a>

		<a href="./#/agregardependencia">
			<p>Agregar dependencia</p>
		</a>

		<hr/>

		<a href="./#/agregarcarrera">
			<p>Agregar carrera</p>
		</a>

		<a href="./#/agregarmateria">
			<p>Agregar materia</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".guias">Guías</p>

	<div class="guias collapse" aria-expanded="false">
		<a href="./#/agregarguia" ng-show="$parent.login_info.anadir_guias == 1">
			<p>Agregar</p>
		</a>

		<a href="./#/buscarguias"  ng-show="$parent.login_info.buscar_guias == 1">
			<p>Buscar</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".ordenes">Ordenes</p>

	<div class="ordenes collapse" aria-expanded="false">
		<a href="./#/agregarorden">
			<p>Agregar</p>
		</a>
	</div>
</div>