<div class="navbar" ng-show="!express && loginService.isLoggedIn()">
	<img src="img/LOGOTIPO 370X99.png" />
	<p style="color: white; text-align: center; margin-left: -10px; font-size: 14px; text-transform: uppercase;">{{ loginService.getCurrentUser().departamento ? loginService.getCurrentUser().departamento : 'administrador' }}</p>

	<p style="color: white;"><strong>{{ loginService.getCurrentUser().nombre + " " + loginService.getCurrentUser().apellido }}</strong> <i class="fa fa-sign-out fa-2x fa-fw pull-right" ng-click="logout()" style="color: #c9302c !important; border: none; cursor: pointer;" aria-hidden="true" title="Cerrar sesión"></i></p>
	<p style="color: white;"><small>Última visita: {{ loginService.getCurrentUser().ultima_visita.fecha.length > 0 ? loginService.getCurrentUser().ultima_visita.fecha + ' a las ' + loginService.getCurrentUser().ultima_visita.hora : 'Nunca' }}</small></p>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".guias"
		ng-show="loginService.menuGuias()">
		<i class="fa fa-book fa-fw" aria-hidden="true"></i> Guías
	</p>

	<div class="guias collapse" aria-expanded="false">
		<a href="./#/agregarguia" ng-show="loginService.getCurrentUser().anadir_guias">
			<p><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Crear</p>
		</a>

		<a href="./#/buscarguias"  ng-show="loginService.getCurrentUser().buscar_guias">
			<p><i class="fa fa-search fa-fw" aria-hidden="true"></i> Buscar</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".ordenes"
		ng-show="loginService.menuOrdenes()">
		<i class="fa fa-edit fa-fw" aria-hidden="true"></i> Ordenes
	</p>

	<div class="ordenes collapse" aria-expanded="false">
		<a href="./#/ordenes/agregar" ng-show="loginService.getCurrentUser().ordenes_agregar">
			<p><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Crear</p>
		</a>

		<a href="./#/ordenes" ng-show="loginService.getCurrentUser().ordenes_ver">
			<p><i class="fa fa-search fa-fw" aria-hidden="true"></i> Buscar</p>
		</a>

		<hr/>

		<a href="./#/buscar_web" ng-show="loginService.getCurrentUser().ver_ordenes_web">
			<p><i class="fa fa-globe fa-fw" aria-hidden="true"></i> Ver ordenes web</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".cuentasabiertas"
		ng-show="loginService.menuAdminCuentaAbiertas()">
		<i class="fa fa-file-o fa-fw" aria-hidden="true"></i> Cuentas Abiertas
	</p>

	<div class="cuentasabiertas collapse" aria-expanded="false">
		<a href="./#/cuentaabiertas/agregar" ng-show="loginService.getCurrentUser().cuentaabiertas_agregar">
			<p><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Crear</p>
		</a>

		<a href="./#/cuentaabiertas" ng-show="loginService.getCurrentUser().cuentaabiertas_editar || loginService.getCurrentUser().cuentaabiertas_deshabilitar">
			<p><i class="fa fa-search fa-fw" aria-hidden="true"></i> Buscar</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".plandeestudio"
		ng-show="loginService.menuPensum()">
		<i class="fa fa-list-alt fa-fw" aria-hidden="true"></i> Programas y Pensum
	</p>

	<div class="plandeestudio collapse" aria-expanded="false">
		<a href="./#/agregarplandeestudios" ng-show="loginService.getCurrentUser().plandeestudios_agregar">
			<p><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Crear</p>
		</a>

		<a href="./#/planesdeestudio" ng-show="loginService.getCurrentUser().plandeestudios_buscar">
			<p><i class="fa fa-search fa-fw" aria-hidden="true"></i> Buscar</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".controlequipo">
		<i class="fa fa-desktop fa-fw" aria-hidden="true"></i> Control de equipo
	</p>

	<div class="controlequipo collapse" aria-expanded="false">
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".admin"
		ng-show="loginService.menuAdmin()">
		<i class="fa fa-cogs fa-fw" aria-hidden="true"></i> Administración
	</p>

	<div class="admin collapse" aria-expanded="false">
		<a href="./#/personal" ng-show="loginService.menuAdminPersonal()">
			<p><i class="fa fa-users fa-fw" aria-hidden="true"></i> Personal</p>
		</a>

		<a href="./#/profesores" ng-show="loginService.menuAdminProfesores()">
			<p><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i> Profesores</p>
		</a>

		<a href="./#/carreras" ng-show="loginService.menuAdminCarreras()">
			<p><i class="fa fa-th-list fa-fw" aria-hidden="true"></i> Carreras</p>
		</a>

		<a href="./#/menciones" ng-show="loginService.menuAdminCarreras()">
			<p><i class="fa fa-th-list fa-fw" aria-hidden="true"></i> Menciones</p>
		</a>

		<a href="./#/materias" ng-show="loginService.menuAdminMaterias()">
			<p><i class="fa fa-th-list fa-fw" aria-hidden="true"></i> Materias</p>
		</a>

		<a href="./#/departamentos/ucab" ng-show="loginService.menuAdminDepartamentosUCAB()">
			<p><i class="fa fa-building fa-fw" aria-hidden="true"></i> Departamentos UCAB</p>
		</a>

		<a href="./#/dependencias" ng-show="loginService.menuAdminDependencias()">
			<p><i class="fa fa-building-o fa-fw" aria-hidden="true"></i> Dependencias</p>
		</a>

		<a href="./#/inventario" ng-show="loginService.menuAdminInventario() || loginService.menuAdminProductos()">
			<p><i class="fa fa-archive fa-fw" aria-hidden="true"></i> Inventario</p>
		</a>

		<a href="./#/proveedores" ng-show="loginService.menuAdminProveedores()">
			<p><i class="fa fa-product-hunt fa-fw" aria-hidden="true"></i> Proveedores</p>
		</a>

		<a href="./#/inventario/material/danado">
			<p><i class="fa fa-user-times fa-fw" aria-hidden="true"></i> Material dañado</p>
		</a>

		<a href="./#/clientes" ng-show="loginService.menuAdminClientes()">
			<p><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> Clientes</p>
		</a>

		<a href="./#/caja/retiros/agregar" ng-show="loginService.menuAdminRetirosCaja()">
			<p><i class="fa fa-money fa-fw" aria-hidden="true"></i> Retiro de Caja</p>
		</a>

		<a href="./#/caja/notas_credito/agregar" ng-show="loginService.menuAdminNotasCredito()">
			<p><i class="fa fa-credit-card-alt fa-fw" aria-hidden="true"></i> Notas de Crédito</p>
		</a>

		<a href="./#/iva" ng-show="loginService.getCurrentUser().es_admin">
			<p><i class="fa fa-magic fa-fw" aria-hidden="true"></i> IVA</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".pedidos"
		ng-show="loginService.menuPedidos()">
		<i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i> Pedidos
	</p>

	<div class="pedidos collapse" aria-expanded="false">
		<a href="./#/pedidos/agregar" ng-show="loginService.getCurrentUser().pedidos_agregar">
			<p><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Crear</p>
		</a>

		<a href="./#/pedidos" ng-show="loginService.getCurrentUser().pedidos_ver || loginService.getCurrentUser().caja_realizarcobro">
			<p><i class="fa fa-file-text fa-fw" aria-hidden="true"></i> Pendientes por pagar</p>
		</a>

		<a href="./#/pedidos/factura_faltante" ng-show="loginService.getCurrentUser().pedidos_ver_falta_factura">
			<p><i class="fa fa-file-text fa-fw" aria-hidden="true"></i> Pendientes por asignar factura</p>
		</a>

		<a href="./#/pedidos/por_procesar" ng-show="loginService.getCurrentUser().pedidos_ver_por_procesar">
			<p><i class="fa fa-file-text fa-fw" aria-hidden="true"></i> {{ loginService.getCurrentUser().departamento ? (loginService.getCurrentUser().departamento == 'Diseño' ? 'Cancelados' : 'Pendientes por procesar') : 'Pendientes por procesar o pagos' }}</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".reportes"
		ng-show="loginService.menuReportes()">
		<i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Reportes
	</p>

	<div class="reportes collapse" aria-expanded="false">
		<a href="./#/reportes/libro_de_ventas" ng-show="loginService.getCurrentUser().reportes_libro_de_ventas">
			<p><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> Libro de Ventas</p>
		</a>

		<a href="./#/reportes/cuadre_ventas_diarias" ng-show="loginService.getCurrentUser().reportes_cuadre_ventas_diarias">
			<p><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> Cuadre de Ventas Diarias</p>
		</a>

		<a href="./#/reportes/venta_productos" ng-show="loginService.getCurrentUser().reportes_venta_productos">
			<p><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> Ventas por Productos</p>
		</a>

		<a href="./#/reportes/corte_de_caja" ng-show="loginService.getCurrentUser().reportes_corte_de_caja">
			<p><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> Corte de Caja</p>
		</a>
	</div>

	<p class="current-version">
		<i class="fa fa-code-fork fa-fw" aria-hidden="true"></i> Versión:<br>
		{{ currentVersion }}
	</p>
</div>

<a href="" ng-click="cerrar_seccion()" class="cerrar_seccion" ng-show="!enInicio && !express"><i class="fa fa-times fa-fw fa-2x" aria-hidden="true"></i></a>