<div class="navbar">
	<img src="img/LOGOTIPO 370X99.png" />

	<p class="titulo_seccion" data-toggle="collapse" data-target=".admin">Sistema interno</p>

	<div class="admin collapse" aria-expanded="false">
		<a href="./#/personal">
			<p>Personal</p>
		</a>

		<hr/>

		<a href="./#/agregarcarrera">
			<p>Agregar carrera</p>
		</a>

		<a href="./#/agregarmateria">
			<p>Agregar materia</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".guias">Guías</p>

	<div class="guias collapse" aria-expanded="false">
		<a href="./#/agregarguia" ng-show="$parent.login_info.anadir_guias == 1">
			<p>Agregar</p>
		</a>

		<a href="./#/buscarguias"  ng-show="$parent.login_info.buscar_guias == 1">
			<p>Buscar</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".ordenes">Ordenes</p>

	<div class="ordenes collapse" aria-expanded="false">
		<a href="./#/agregarorden">
			<p>Agregar</p>
		</a>

		<hr/>

		<a href="./#/buscar_web">
			<p>Ver ordenes web</p>
		</a>
	</div>

	<p class="titulo_seccion" data-toggle="collapse" data-target=".plandeestudio">Plan de Estudio</p>

	<div class="plandeestudio collapse" aria-expanded="false">
		<a href="./#/agregarplandeestudios">
			<p>Agregar</p>
		</a>
	</div>
</div>