<form class="agregar_guia" ng-controller="PlanDeEstudios" ng-submit="registrar_plan()">
	<p class="btn-volver">
		<a class="btn btn-volver" href="./#/planesdeestudio"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
	</p>

	<h1 style="font-size: 20px;">Planes de Estudio <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> {{ editar ? 'Editar' : 'Crear' }}</h1>

	<div class="register-form">
		<div class="fila" ng-hide="plan.para">
			<h5>Por favor seleccione el método para agregar el pensum</h5>
			<button type="button" class="btn btn-soincopy btn-lg" ng-click="plan.para = 'Materia'; refresh_selects();" style="font-size:14px !important;">Crear por Materia</button>
			<button type="button" class="btn btn-soincopy btn-lg" ng-click="plan.para = 'Carrera'; refresh_selects();" style="font-size:14px !important;">Crear por Carrera</button>
		</div>

		<div ng-if="plan.para == 'Carrera'">
			<div class="fila">
				<p>Título (*)</p>
				<input ng-model="plan.titulo" type="text" required maxlength="128" />
			</div>

			<div class="fila">
				<p>Carreras (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.carrera" required ng-change="cargar_menciones()" ts-select-fix>
					<option ng-repeat="c in carreras" value="{{ c.id }}">{{ c.nombre }}</option>
				</select>
			</div>

			<div class="fila" ng-show="menciones.length > 1">
				<p>Mención (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.mencion" ng-init="plan.mencion = -1;" ts-select-fix>
					<option ng-repeat="m in menciones" value="{{ m.id }}">{{ m.nombre }}</option>
				</select>
			</div>

			<div class="fila">
				<p>Tipo (*)</p>
				
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.tipo" ng-init="plan.tipo = 'Semestral';" ng-options="t as t for t in tipos"></select>
			</div>

			<div class="fila">
				<p>PDF (*)</p>
				<input type="file" ng-hide="upload_progress" />
				<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

				<div class="progress" ng-show="upload_progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
						{{ upload_progress }}%
					</div>
				</div>
			</div>

			<div class="fila">
				<p>Comentario</p>
				<textarea ng-model="plan.comentario" placeholder="Escriba un comentario.."></textarea>
			</div>
		</div>










		<div ng-if="plan.para == 'Materia'">
			<div class="fila">
				<p>Título (*)</p>
				<input ng-model="plan.titulo" type="text" required maxlength="128" />
			</div>

			<div class="fila">
				<p>Carreras (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.carrera" required ng-change="cargar_materias()" ts-select-fix>
					<option ng-repeat="c in carreras" value="{{ c.id }}">{{ c.nombre }}</option>
				</select>
			</div>

			<div class="fila">
				<p>Materia (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.materia" required ts-select-fix>
					<optgroup ng-repeat="g in materias | unique:'periodo'" label="{{ (g.periodo + (g.tipo_carrera == 'Semestral' ? ' semestre' : (g.tipo_carrera == 'Anual' ? ' año' : ''))) }}">
					<option ng-repeat="m in materias" ng-if="m.periodo == g.periodo" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				</select>
			</div>

			<div class="fila">
				<p>Tipo (*)</p>
				
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.tipo" ng-init="plan.tipo = 'Semestral';" ts-select-fix>
					<option ng-repeat="t in tipos" value="{{ t }}">{{ t }}</option>
				</select>
			</div>

			<div class="fila">
				<p>PDF (*)</p>
				<input type="file" ng-hide="upload_progress" />
				<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

				<div class="progress" ng-show="upload_progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
						{{ upload_progress }}%
					</div>
				</div>
			</div>

			<div class="fila">
				<p>Comentario</p>
				<textarea ng-model="plan.comentario" placeholder="Escriba un comentario.."></textarea>
			</div>
		</div>

		<div class="fila text-center" ng-show="plan.para">
			<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
			<button class="btn btn-sm btn-danger" ng-click="cerrar_seccion()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button> 
		</div>
	</div>
</form>