<form class="agregar_guia" ng-controller="PlanDeEstudios" ng-submit="registrar_plan()">
	<p class="btn-volver">
		<a class="btn btn-link" href="./#/planesdeestudio">&larr; Volver</a>
	</p>

	<h1 style="font-size: 20px;">Planes de Estudio &rarr; {{ editar ? 'Editar' : 'Agregar' }}</h1>

	<div class="register-form">
		<div class="fila" ng-hide="plan.para">
			<h5>Por favor seleccione el método para agregar el pensum</h5>
			<button type="button" class="btn btn-soincopy btn-lg" ng-click="plan.para = 'Materia'; refresh_selects();" style="font-size:14px !important;">Agregar por Materia</button>
			<button type="button" class="btn btn-soincopy btn-lg" ng-click="plan.para = 'Carrera'; refresh_selects();" style="font-size:14px !important;">Agregar por Carrera</button>
		</div>

		<div ng-if="plan.para == 'Carrera'">
			<div class="fila">
				<p>Título (*)</p>
				<input ng-model="plan.titulo" type="text" required maxlength="128" />
			</div>

			<div class="fila">
				<p>Carreras (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.carrera" required ng-change="cargar_menciones()" ng-options="c.id as c.nombre for c in carreras"></select>
			</div>

			<div class="fila" ng-show="menciones.length > 1">
				<p>Mención (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.mencion" ng-init="plan.mencion = -1;" ng-options="c.id as c.nombre for c in menciones"></select>
			</div>

			<div class="fila">
				<p>Tipo (*)</p>
				
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.tipo" ng-init="plan.tipo = 'Semestral';" ng-options="t as t for t in tipos"></select>
			</div>

			<div class="fila">
				<p>PDF (*)</p>
				<input type="file" ng-hide="upload_progress" />
				<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

				<div class="progress" ng-show="upload_progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
						{{ upload_progress }}%
					</div>
				</div>
			</div>

			<div class="fila">
				<p>Comentario</p>
				<textarea ng-model="plan.comentario" placeholder="Escriba un comentario.."></textarea>
			</div>
		</div>










		<div ng-if="plan.para == 'Materia'">
			<div class="fila">
				<p>Título (*)</p>
				<input ng-model="plan.titulo" type="text" required maxlength="128" />
			</div>

			<div class="fila">
				<p>Carreras (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.carrera" required ng-change="cargar_materias()" ng-options="c.id as c.nombre for c in carreras"></select>
			</div>

			<div class="fila">
				<p>Materia (*)</p>
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.materia" required ng-options="c.id as c.nombre group by (c.periodo + (c.tipo_carrera == 'Semestral' ? ' semestre' : ' año')) for c in materias"></select>
			</div>

			<div class="fila">
				<p>Tipo (*)</p>
				
				<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="plan.tipo" ng-init="plan.tipo = 'Semestral';" ng-options="t as t for t in tipos"></select>
			</div>

			<div class="fila">
				<p>PDF (*)</p>
				<input type="file" ng-hide="upload_progress" />
				<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

				<div class="progress" ng-show="upload_progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
						{{ upload_progress }}%
					</div>
				</div>
			</div>

			<div class="fila">
				<p>Comentario</p>
				<textarea ng-model="plan.comentario" placeholder="Escriba un comentario.."></textarea>
			</div>
		</div>

		<div class="fila text-center" ng-show="plan.para">
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>
	</div>
</form>