<div class="seccion" ng-controller="PlanDeEstudios">
	<p>
		Ver planes de estudio de: 
		<span class="btn btn-xs {{ ver == 1 ? 'bg-primary' : '' }}" ng-click="ver = 1;" ng-init="ver = 1;">Carreras</span>
		<span class="btn btn-xs {{ ver != 1 ? 'bg-primary' : '' }}" ng-click="ver = 2;">Materias</span>
	</p>

	<p>
		Buscar plan de estudios <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" />
	</p>

	<table class="table table-stripped table-fixed-style" ng-init="cargar_planes()">
		<thead>
			<!--<th ng-show="loginService.getCurrentUser().carreras_editar || loginService.getCurrentUser().carreras_deshabilitar">&nbsp;</th>-->
			<th class="text-center">Título</th>
			<th class="text-center">Carrera</th>
			<th class="text-center" ng-if="ver == 1">Mención</th>
			<th class="text-center" ng-if="ver == 2">Materia</th>
			<th class="text-center">Tipo</th>
			<th class="text-center">PDF</th>
			<th class="text-center">Fecha añadido</th>
		</thead>
		<tbody>
			<tr ng-repeat="p in planes" 
				ng-if="
					(
						(p.materia == null && ver == 1) ||
						(p.materia != null && ver == 2)
					)
					&&
					(p.titulo.indexOf(busqueda) != -1 ||
					p.carrera.indexOf(busqueda) != -1 ||
					p.tipo.indexOf(busqueda) != -1 ||
					p.fecha.indexOf(busqueda) != -1 ||
					p.hora.indexOf(busqueda) != -1)
				">
				<!--<td ng-show="loginService.getCurrentUser().carreras_editar || loginService.getCurrentUser().carreras_deshabilitar" class="text-center">
					<div class="btn-group">
						<a ng-show="loginService.getCurrentUser().carreras_editar" href="./#/menciones/editar/{{ p.id }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
						</a>

						<span ng-click="cambiar_estado(p.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().carreras_deshabilitar && p.estado == 1" title="Deshabilitar" style="color: #c9302c !important;"></span>
						<span ng-click="cambiar_estado(p.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="loginService.getCurrentUser().carreras_deshabilitar && p.estado == 0" title="Habilitar" style="color: #449d44 !important;"></span>
					</div>
				</td>-->
				<td class="text-center">{{ p.titulo }}</td>
				<td class="text-center">{{ p.carrera }}</td>
				<td class="text-center" ng-if="ver == 1">{{ p.mencion }}</td>
				<td class="text-center" ng-if="ver == 2">{{ p.materia }}</td>
				<td class="text-center">{{ p.tipo }}</td>
				<td class="text-center"><a target="_blank" href="../soincopy_files/planesdeestudio/{{ p.pdf }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
				<td class="text-center">{{ p.fecha }} a las {{ p.hora }}</td>
			</tr>
		</tbody>
	</table>
</div>