<form class="agregar agregar_cuentaabierta" name="agregar" ng-init="init_form_cache()" ng-controller="CuentaAbierta" ng-submit="registrar_cuentaabierta()">
	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="cuentaabierta.nombre" required ng-maxlength=128 ng-minlength=1 />
		</div>

		<div class="fila">
			<p>Fecha inicial</p>

			<input type="date" name="inicia" ng-model="cuentaabierta.inicia" required />
		</div>

		<div class="fila">
			<p>Fecha vencimiento</p>

			<input type="date" name="vence" ng-model="cuentaabierta.vence" ng-min="cuentaabierta.inicia" required />
		</div>

		<h2>Personas autorizadas <small><a href="" ng-click="anadir_persona()">Añadir persona</a></small></h2>

		<table class="table table-stripped" ng-init="cuentaabierta.personas = cuentaabierta.personas ? cuentaabierta.personas : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Nombre completo (*)</th>
				<th>Cédula (*)</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in cuentaabierta.personas">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_persona($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<input type="text" name="pnombre_{{ $index }}" ng-model="cuentaabierta.personas[$index].nombre" required ng-minlength=1 />
					</td>
					<td>
						<input type="text" name="pcedula_{{ $index }}" ng-model="cuentaabierta.personas[$index].cedula" required ng-minlength=1 />
					</td>
				</tr>
			</tbody>
		</table>

		<h2>Productos <small><a href="" ng-click="anadir_producto()">Añadir producto</a></small></h2>
		<p ng-show="editar" style="font-size: 9px; font-weight: bold;">
			Nota: Actualizar las cantidades no actualizará el costo unitario. Para actualizar el costo unitario debe eliminar el producto deseado y volverlo a agregar
		</p>

		<table class="table table-stripped" ng-init="cuentaabierta.productos = cuentaabierta.productos ? cuentaabierta.productos : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Producto (*)</th>
				<th># Copias (*)</th>
				<th># Originales (*)</th>
				<th>Cantidad</th>
				<th>Costo unitario</th>
				<th>Costo total</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in cuentaabierta.productos">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_producto($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<select name="producto_{{ $index }}" ng-model="cuentaabierta.productos[$index].producto" ng-options="pr.id as pr.nombre for pr in productos | quitarDeshabilitados" ng-change="actualizar_costo_unitario($index)" required ng-minlength=1></select>
					</td>
					<td>
						<input type="number" string-to-number name="nrocopias_{{ $index }}" ng-model="cuentaabierta.productos[$index].nro_copias" ng-min=1 required ng-minlength=0 />
					</td>
					<td>
						<input type="number" string-to-number name="nrooriginales_{{ $index }}" ng-model="cuentaabierta.productos[$index].nro_originales" ng-min=1 required ng-minlength=0 />
					</td>
					<td>
						{{ cuentaabierta.productos[$index].nro_copias * cuentaabierta.productos[$index].nro_originales }}
					</td>
					<td ng-init="actualizar_costo_unitario($index)">
						<strong style="cursor: help;" data-toggle="tooltip" data-placement="top" title="Costo unitario del producto hoy">{{ cuentaabierta.productos[$index].costo_unitario | currency:'Bs. ' }}</strong>
						<br/>
						<small style="cursor: help;" data-toggle="tooltip" data-placement="top" title="Es el costo asociado cuando se añadió este producto a esta cuenta abierta el {{ cuentaabierta.productos[$index].fecha_anadido }}">{{ cuentaabierta.productos[$index].costo_unitario_facturado | currency:'Bs. ' }}</small>
					</td>
					<td>
						<strong>{{ ((cuentaabierta.productos[$index].costo_unitario_facturado ? cuentaabierta.productos[$index].costo_unitario_facturado : cuentaabierta.productos[$index].costo_unitario) * (cuentaabierta.productos[$index].nro_copias * cuentaabierta.productos[$index].nro_originales)) | currency:'Bs. ' }}</strong>

						<script> $('[data-toggle="tooltip"]').tooltip(); </script>
					</td>
				</tr>
				<tr ng-show="cuentaabierta.productos.length > 0">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="text-right" style="font-weight: bold;">Total</td>
					<td style="font-weight: bold;">{{ cuentaabierta.productos | calcularTotalBsDeProductos | currency:'Bs. ' }}</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid">Finalizar</button>
		</div>
	</div>
</form>