<form class="agregar agregar_cuentaabierta" name="agregar" ng-controller="CuentaAbierta" ng-submit="registrar_cuentaabierta()">
	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="cuentaabierta.nombre" required ng-maxlength=128 ng-minlength=1 />
		</div>

		<div class="fila">
			<p>Fecha inicia</p>

			<input type="date" name="inicia" ng-model="cuentaabierta.inicia" required />
		</div>

		<div class="fila">
			<p>Fecha vencimiento</p>

			<input type="date" name="vence" ng-model="cuentaabierta.vence" ng-min="cuentaabierta.inicia" required />
		</div>

		<h2>Personas autorizadas <small><a href="" ng-click="anadir_persona()">Añadir persona</a></small></h2>

		<table class="table table-stripped" ng-init="cuentaabierta.personas = cuentaabierta.personas ? cuentaabierta.personas : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Nombre completo (*)</th>
				<th>Cédula (*)</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in cuentaabierta.personas">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_persona($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<input type="text" name="pnombre_{{ $index }}" ng-model="cuentaabierta.personas[$index].nombre" required ng-minlength=1 />
					</td>
					<td>
						<input type="text" name="pcedula_{{ $index }}" ng-model="cuentaabierta.personas[$index].cedula" required ng-minlength=1 />
					</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid">Finalizar</button>
		</div>
	</div>
</form>