<form class="agregar agregar_material" name="agregar" ng-controller="Inventario" ng-submit="registrar_material_danado()">
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/inventario/material/danado"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
		</p>

		<h1 style="font-size: 20px;">Material dañado <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Crear</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Stock asignado (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" name="stock" ng-model="material.stock" ng-change="actualizar_restante()" required ts-select-fix>
				<option ng-repeat="s in mi_inventario_asignado" value="{{ s.id }}">{{ ('[' + s.fecha + '] ' + s.material_nombre + ' (' + s.restante + ' restante)') }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Cantidad (*)</p>
			<input type="number" name="cantidad" ng-model="material.cantidad" required ng-min=1 ng-max="material_restante" />
		</div>

		<div class="fila">
			<p>Motivo (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" name="motivo" ng-model="material.motivo" required ts-select-fix>
				<option ng-repeat="m in motivos" value="{{ m }}">{{ m }}</option>
			</select>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" ng-disabled="agregar.$invalid" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
		</div>
	</div>
</form>