<div class="seccion" ng-controller="Reportes" ng-init="cargar_reporte()">
	<h1 style="font-size: 20px;">Reportes &rarr; Pedidos</h1>

	<div ng-show="loginService.getCurrentUser().reportes_pedidos">
		<div class="botones">
			<div ng-show="o_">
				<button class="btn btn-info" data-toggle="modal" data-target="#detalle">
					<span class="glyphicon glyphicon-search" aria-hidden="true" ></span> Ver detalle
				</button>
			</div>
		</div>

		<p>
			<a href="./api/export/reporte/pedidos" target="_blank" class="btn btn-soincopy">Exportar a Excel</a>
		</p>

		<br/><br/>

		<table class="table table-stripped">
			<thead>
				<th class="text-center"># Pedido</th>
				<th class="text-center"># Factura</th>
				<th class="text-center">Fecha</th>
				<th class="text-center">Nombre</th>
				<th class="text-center">Cédula/RIF</th>
				<th class="text-center">Subtotal</th>
				<th class="text-center">IVA</th>
				<th class="text-center">Total</th>
			</thead>
			<tbody ng-init="actual = 0;">
				<tr ng-click="seleccionar(o)"  ng-repeat="o in data | paginar:nroResultados+'|'+actual">
					<td class="text-center">{{ o.id }}</td>
					<td class="text-center">{{ o.id_factura }}</td>
					<td class="text-center">{{ o.fecha_anadida }}</td>
					<td class="text-center">{{ o.cliente_nombre }}</td>
					<td class="text-center">{{ o.cliente_ni }}</td>
					<td class="text-center">{{ o.subtotal | currency:'Bs. ' }}</td>
					<td class="text-center">{{ o.iva | currency:'Bs. ' }}</td>
					<td class="text-center">{{ o.total | currency:'Bs. ' }}</td>
				</tr>
			</tbody>
		</table>

		<div class="text-center" ng-show="nroResultados < pedidos.length">
			<ul class="pagination">
				<li ng-repeat="i in paginationCount(nroResultados, pedidos.length)" class="{{ actual == i ? 'active' : '' }}">
					<a href="" ng-click="$parent.actual = i;">{{ i + 1 }}</a>
				</li>
			</ul>
		</div>
	</div>


	<div id="detalle" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none; padding-bottom: 0px;">
					<button type="button" class="close" data-dismiss="modal" style="font-size: 20px !important;">&times;</button>
					<h4 class="modal-title">Pedido #{{ o_.id }}</h4>
					<p>
						Método de pago: {{ o_.metodo_pago }}<br/>
						Fecha creada: {{ o_.fecha_anadida }}<br/>
						Última vez modificada: {{ o_.fecha_modificada }}<br/>
						<small>Observaciones: {{ o_.observaciones.length > 0 ? o_.observaciones : 'Ninguna' }}</small>
					</p>
				</div>

				<div class="modal-body">
					<table class="table table-striped">
						<tr ng-repeat="p in o_.productos">
							<td class="text-left">{{ p.producto_nombre }} <small>{{ p.fecha_anadido }}</small></td>
							<td class="text-right">{{ p.copias * p.originales }} unidades</td>
							<td class="text-right">{{ p.costo_unitario_facturado | currency:'Bs. ' }}</td>
						</tr>
						<tr>
							<td class="text-left">&nbsp;</td>
							<td class="text-right"><strong>Total</strong></td>
							<td class="text-right"><strong>{{ o_.costo_total | currency:'Bs. ' }}</strong></td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>