<form class="agregar agregar_cliente" ng-controller="Cliente" ng-submit="registrar_cliente()">
	<div class="register-form">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="cliente.nombre" required ng-maxlength=128 ng-minlength=1 />
		</div>

		<div class="fila">
			<p>Fecha vencimiento</p>

			<input type="date" name="vence" ng-model="cliente.vence" />
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid">Finalizar</button>
		</div>
	</div>
</form>