<form class="agregar agregar_producto" ng-controller="Producto" name="agregar" ng-submit="registrar_producto()">
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/productos"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
		</p>

		<h1 style="font-size: 20px;">Inventario <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Productos <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> {{ editar ? 'Editar' : 'Crear' }}</h1>

		<!--<div ng-if="editar">
			<h2>Historial de precios</h2>

			<table class="table table-striped">
				<thead>
					<th>&nbsp;</th>
					<th>Costo</th>
					<th>Fecha</th>
				</thead>
				<tbody>
					<tr ng-repeat="h in producto.historial_costos">
						<td>
							<span ng-click="eliminar_precio(h.id)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().productos_eliminar_precios" title="Eliminar" style="color: #c9302c !important;" data-toggle="tooltip" data-placement="top"></span>

							<script>
								$('[data-toggle="tooltip"]').tooltip(); 
							</script>
						</td>
						<td>{{ h.costo | currency:'Bs. ' }}</td>
						<td>{{ h.fecha }} a las {{ h.hora }}</td>
					</tr>
				</tbody>
			</table>
			<hr/>
		</div>-->

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila" ng-show="loginService.getCurrentUser().productos_editar && !esGuia() && !editar">
			<p>Nombre (*)</p>
			<input type="text" name="nombre" ng-model="producto.nombre" required ng-minlength=1 ng-maxlength=64 ng-model-options="{ updateOn: 'blur' }" unique-bd="producto" autocomplete="off" />
		</div>

		<div class="fila" ng-show="loginService.getCurrentUser().productos_editar">
			<p>Descripción</p>
			<textarea name="descripcion" ng-model="producto.descripcion"></textarea>
		</div>

		<div class="fila" ng-if="!editar">
			<p>Costo de venta (*) <small style="font-weight: bold; cursor:pointer;" title="Debe incluir IVA" data-toggle="tooltip" data-placement="top">[?]</small></p>
			<input type="number" name="costo" ng-model="producto.costo" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />

			<script>
				$('[data-toggle="tooltip"]').tooltip(); 
			</script>
		</div>

		<div class="fila" ng-if="editar" ng-show="loginService.getCurrentUser().productos_nuevos_precios && !esGuia()">
			<p>Nuevo costo de venta <small style="font-weight: bold; cursor:pointer;" title="Debe incluir IVA" data-toggle="tooltip" data-placement="top">[?]</small></p>
			<input type="number" name="costo" ng-model="producto.costo_nuevo" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
			<strong>* En caso de mantener el precio deje este campo en blanco</strong>

			<script>
				$('[data-toggle="tooltip"]').tooltip(); 
			</script>
		</div>

		<div class="fila" ng-show="loginService.getCurrentUser().productos_editar && !esGuia()">
			<p>Departamento (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="producto.departamentos" ng-if="!editar" name="dpto" ng-options="c.id as c.nombre for c in departamentos" multiple required></select>

			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="producto.departamento" ng-if="editar" name="dpto" ng-options="c.id as c.nombre for c in departamentos" required></select>
		</div>

		<div class="fila" ng-show="loginService.getCurrentUser().productos_editar && !esGuia()">
			<p>Familia (*)</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="producto.familia" name="familia" required ng-minlength=1 ts-select-fix>
				<option ng-repeat="f in familias | quitarDeshabilitados" value="{{ f.id }}">{{ f.nombre }}</option>
			</select>
		</div>

		<div class="fila" ng-show="loginService.getCurrentUser().productos_editar">
			<p>Exento IVA</p>
			<input type="checkbox" name="exento" ng-model="producto.exento_iva" style="width: 15px;" />
		</div>

		<h2 ng-show="loginService.getCurrentUser().productos_editar && !esGuia()">Materiales <small><a href="" ng-click="anadir_material()">Añadir material</a></small></h2>

		<table class="table table-stripped" ng-init="producto.materiales = producto.materiales ? producto.materiales : [];" ng-show="loginService.getCurrentUser().productos_editar && !esGuia()">
			<thead>
				<th>&nbsp;</th>
				<th>Material (*)</th>
				<th>Cantidad (*)</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in producto.materiales">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_material($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<select class="selectpicker" data-live-search="true" title="" name="producto_{{ $index }}" ng-model="producto.materiales[$index].material" required>
							<option ng-repeat="i in inventario | quitarDeshabilitados" value="{{ i.id }}">{{ i.nombre }}</option>
						</select>
					</td>
					<td>
						<input type="number" string-to-number name="cantidad_{{ $index }}" ng-model="producto.materiales[$index].cantidad" ng-min=1 required ng-minlength=0 />
					</td>
				</tr>
			</tbody>
		</table>

		<hr/>

		<h2 ng-if="loginService.getCurrentUser().productos_editar && !esGuia()">Guías <small><a href="" ng-click="anadir_guia()">Añadir guía</a></small></h2>
		<p ng-if="!esGuia()"><small><strong>(*) Es necesario añadir manualmente el material necesario para producir la(s) guía(s)</strong></small></p>

		<table class="table table-stripped" ng-init="producto.guias = producto.guias ? producto.guias : [];" ng-if="loginService.getCurrentUser().productos_editar && !esGuia()">
			<thead>
				<th>Guía (*)</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in producto.guias">
					<td>
						<span class="glyphicon glyphicon-remove" ng-click="eliminar_guia($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important; float: left;"></span>

						<select class="selectpicker" data-live-search="true" title="" data-width="90%" name="guia_{{ $index }}" ng-model="producto.guias[$index].guia" required ng-minlength=1 ts-select-fix>
							<option ng-repeat="g in guias" value="{{ g.id }}">{{ ('[' + g.codigo + '] ' + g.titulo + ' (' + g.numero_paginas + ' páginas, ' + g.numero_hojas + ' hojas)') }}</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center" style="margin-top: 20px;">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
			<button class="btn btn-sm btn-danger" ng-click="cerrar_seccion()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button> 
		</div>
	</div>
</form>