<form class="agregar agregar_producto" ng-controller="Producto" name="agregar" ng-submit="registrar_producto()">
	<div class="register-form">
		<div ng-if="editar">
			<h2>Historial de precios</h2>

			<table class="table table-striped">
				<thead>
					<th>&nbsp;</th>
					<th>Costo</th>
					<th>Fecha</th>
				</thead>
				<tbody>
					<tr ng-repeat="h in producto.historial_costos">
						<td>
							<span ng-click="eliminar_precio(h.id)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().productos_eliminar_precios" title="Eliminar" style="color: #c9302c !important;" data-toggle="tooltip" data-placement="top"></span>

							<script>
								$('[data-toggle="tooltip"]').tooltip(); 
							</script>
						</td>
						<td>{{ h.costo | currency:'Bs. ' }}</td>
						<td>{{ h.fecha }} a las {{ h.hora }}</td>
					</tr>
				</tbody>
			</table>
			<hr/>
		</div>

		<h2 ng-if="editar">Editar producto</h2>
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" name="nombre" ng-model="producto.nombre" required ng-minlength=1 ng-maxlength=64 ng-model-options="{ updateOn: 'blur' }" unique-bd="producto" autocomplete="off" />
		</div>

		<div class="fila">
			<p>Descripción</p>
			<textarea name="descripcion" ng-model="producto.descripcion"></textarea>
		</div>

		<div class="fila" ng-if="!editar">
			<p>Costo (*) <small style="font-weight: bold; cursor:pointer;" title="Debe incluir IVA" data-toggle="tooltip" data-placement="top">[?]</small></p>
			<input type="number" name="costo" ng-model="producto.costo" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />

			<script>
				$('[data-toggle="tooltip"]').tooltip(); 
			</script>
		</div>

		<div class="fila" ng-if="editar" ng-show="loginService.getCurrentUser().productos_nuevos_precios">
			<p>Nuevo costo <small style="font-weight: bold; cursor:pointer;" title="Debe incluir IVA" data-toggle="tooltip" data-placement="top">[?]</small></p>
			<input type="number" name="costo" ng-model="producto.costo_nuevo" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
			<strong>* En caso de mantener el precio deje este campo en blanco</strong>

			<script>
				$('[data-toggle="tooltip"]').tooltip(); 
			</script>
		</div>

		<div class="fila">
			<p>Departamento (*)</p>
			<select ng-model="producto.departamento" name="dpto" ng-options="c.id as c.nombre for c in departamentos" required ng-minlength=1></select>
		</div>

		<div class="fila">
			<p>Familia (*)</p>
			<select ng-model="producto.familia" name="familia" ng-options="c.id as c.nombre for c in familias | quitarDeshabilitados" required ng-minlength=1></select>
		</div>

		<div class="fila">
			<p>¿Exento del IVA?</p>
			<input type="checkbox" name="exento" ng-model="producto.exento_iva" style="width: 15px;" />
		</div>

		<h2>Materiales <small><a href="" ng-click="anadir_material()">Añadir material</a></small></h2>

		<table class="table table-stripped" ng-init="producto.materiales = producto.materiales ? producto.materiales : [];">
			<thead>
				<th>&nbsp;</th>
				<th>Material (*)</th>
				<th>Cantidad (*)</th>
			</thead>
			<tbody>
				<tr ng-repeat="p in producto.materiales">
					<td><span class="glyphicon glyphicon-remove" ng-click="eliminar_material($index)" aria-hidden="true" title="Eliminar" style="color: #c9302c !important;"></span></td>
					<td>
						<select name="producto_{{ $index }}" ng-model="producto.materiales[$index].material" ng-options="pr.id as pr.nombre for pr in inventario | quitarDeshabilitados" required ng-minlength=1></select>
					</td>
					<td>
						<input type="number" string-to-number name="cantidad_{{ $index }}" ng-model="producto.materiales[$index].cantidad" ng-min=1 required ng-minlength=0 />
					</td>
				</tr>
			</tbody>
		</table>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>