<div class="seccion" ng-controller="Producto">
	<p>
		<a href="./#/productos/agregar" class="btn btn-link" ng-show="loginService.getCurrentUser().productos_agregar">Agregar producto</a>

		<a href="./#/productos/familias" class="btn btn-link" ng-show="loginService.getCurrentUser().productos_agregar_familia">Ver familias de productos</a>
	</p>

	<p>
		Buscar producto <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" /> 
		<input type="checkbox" ng-model="solo_activos" ng-init="solo_activos = false;" /> Ver solo habilitados
	</p>

	<table class="table table-stripped table-fixed-style">
		<thead>
			<th ng-show="loginService.getCurrentUser().productos_editar || loginService.getCurrentUser().productos_deshabilitar">&nbsp;</th>
			<th class="text-center">Nombre</th>
			<th class="text-center">Descripción</th>
			<th class="text-center">Costo</th>
			<th class="text-center">Estado</th>
		</thead>
		<tbody>
			<tr ng-repeat="p in productos" 
				ng-if="
					(p.nombre.indexOf(busqueda) != -1)

					&& (solo_activos == false || p.estado == 1)
				"
				class="{{ p.estado == 0 ? 'bg-danger' : '' }}">
				<td ng-show="loginService.getCurrentUser().productos_editar || loginService.getCurrentUser().productos_deshabilitar" class="text-center">
					<div class="btn-group">
						<a ng-show="loginService.getCurrentUser().productos_registrar_nuevos_precios || loginService.getCurrentUser().productos_editar || loginService.getCurrentUser().productos_eliminar_precios" href="./#/productos/editar/{{ p.id }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="top"></span>
						</a>

						<span ng-click="cambiar_estado(p.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().productos_deshabilitar && p.estado == 1" title="Deshabilitar" style="color: #c9302c !important;" data-toggle="tooltip" data-placement="top"></span>
						<span ng-click="cambiar_estado(p.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="loginService.getCurrentUser().productos_deshabilitar && p.estado == 0" title="Habilitar" style="color: #449d44 !important;" data-toggle="tooltip" data-placement="top"></span>
					</div>

					<script>
						$('[data-toggle="tooltip"]').tooltip(); 
					</script>
				</td>
				<td class="text-center">{{ p.nombre }}</td>
				<td class="text-center">{{ p.descripcion }}</td>
				<td class="text-center">{{ p.costo_unitario | currency:'Bs. ' }}</td>
				<td class="text-center">{{ p.estado == 1 ? 'Habilitado' : 'Deshabilitado' }}</td>
			</tr>
		</tbody>
	</table>
</div>