<div class="seccion" ng-controller="Inventario">
	<p>
		<a href="./#/inventario/material/agregar" class="btn btn-link" ng-show="loginService.getCurrentUser().inventario_agregar_material">Agregar material</a>
	</p>

	<p>
		Buscar material <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" /> 
		<input type="checkbox" ng-model="solo_activos" ng-init="solo_activos = false;" /> Ver solo habilitados
	</p>

	<table class="table table-stripped table-fixed-style">
		<thead>
			<th ng-show="loginService.getCurrentUser().inventario_editar_material || loginService.getCurrentUser().inventario_deshabilitar_material">&nbsp;</th>
			<th class="text-center">Nombre</th>
			<th class="text-center">Cantidad disponible</th>
			<th class="text-center">Fecha de último ingreso</th>
			<th class="text-center">Estado</th>
		</thead>
		<tbody>
			<tr ng-repeat="p in inventario" 
				ng-if="
					(p.nombre.indexOf(busqueda) != -1)

					&& (solo_activos == false || p.estado == 1)
				"
				class="{{ p.estado == 0 ? 'bg-danger' : '' }}">
				<td ng-show="loginService.getCurrentUser().inventario_editar_material || loginService.getCurrentUser().inventario_deshabilitar_material" class="text-center">
					<div class="btn-group">
						<a ng-show="loginService.getCurrentUser().inventario_agregar_stock || loginService.getCurrentUser().inventario_editar_stock || loginService.getCurrentUser().inventario_eliminar_stock" href="./#/inventario/material/editar/{{ p.id }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="top"></span>
						</a>

						<a ng-show="loginService.getCurrentUser().inventario_editar_material" href="./#/inventario/stock/{{ p.id }}">
							<span class="glyphicon glyphicon-search" aria-hidden="true" title="Ver stock" data-toggle="tooltip" data-placement="top"></span>
						</a>

						<span ng-click="cambiar_estado(p.id, 0)" class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="loginService.getCurrentUser().inventario_deshabilitar_material && p.estado == 1" title="Deshabilitar" style="color: #c9302c !important;" data-toggle="tooltip" data-placement="top"></span>
						<span ng-click="cambiar_estado(p.id, 1)" class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="loginService.getCurrentUser().inventario_deshabilitar_material && p.estado == 0" title="Habilitar" style="color: #449d44 !important;" data-toggle="tooltip" data-placement="top"></span>
					</div>

					<script>
						$('[data-toggle="tooltip"]').tooltip(); 
					</script>
				</td>
				<td class="text-center">{{ p.nombre }}</td>
				<td class="text-center">{{ p.cantidad }}</td>
				<td class="text-center">{{ p.fecha_ultimo_ingreso ? p.fecha_ultimo_ingreso : 'Nunca' }}</td>
				<td class="text-center">{{ p.estado == 1 ? 'Habilitado' : 'Deshabilitado' }}</td>
			</tr>
		</tbody>
	</table>
</div>