<div class="agregar_guia" ng-controller="Guia">
	<h2>Agregar guía</h2>

	<div class="register-form" ng-init="init_agregarguia()">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Título (*)</p>
			<input type="text" ng-model="agregarguia_titulo" maxlength="128" placeholder="Título" />
		</div>

		<div class="fila" ng-init="cargar_carreras()">
			<p>Carreras (*)</p>
			<select ng-model="agregarguia_carrera" ng-show="carreras" ng-change="cargar_materias()">
				<option ng-repeat="c in carreras" ng-if="c.estado == 1" value="{{ c.id }}">{{ c.nombre }}</option>
			</select>

			<span ng-hide="carreras">Cargando...</span>
		</div>

		<div class="fila">
			<p>Materias (*)</p>
			<select ng-model="agregarguia_materia" ng-show="agregarguia_carrera">
				<optgroup label="1er período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 1" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="2do período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 2" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="3er período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 3" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="4to período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 4" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="5to período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 5" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="6to período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 6" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="7mo período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 7" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="8vo período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 8" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="9no período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 9" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
				<optgroup label="10mo período">
					<option ng-repeat="m in materias | filter:{carrera_id: agregarguia_carrera}" ng-if="m.periodo == 10" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
			</select>

			<span ng-hide="agregarguia_carrera">Seleccione una carrera</span>
		</div>

		<div class="fila" ng-init="cargar_profesores()">
			<p>Profesor (*) <span class="badge" ng-show="$parent.login_info.profesores_agregar" ng-hide="agregarguia_agregarprofesor" ng-click="agregarguia_agregarprofesor = 1" title="Añadir nuevo profesor">+</span></p>
			<select ng-hide="agregarguia_agregarprofesor" ng-model="agregarguia_profesor" ng-show="profesores">
				<option ng-repeat="p in profesores" ng-if="p.estado == 1" value="{{ p.id }}">{{ p.nombre_completo }}</option>
			</select>

			<span ng-hide="profesores">Cargando...</span>

			<br/><br/>
			<div ng-show="agregarguia_agregarprofesor" class="agregar_profesor" style="margin-left: 50px;">
				<br/>
				<h2 style="margin-top: 0px; cursor: pointer;" data-toggle="collapse" data-target=".agregar_prof_en_guia">Nuevo profesor</h2>
				
				<div class="agregar_prof_en_guia" aria-expanded="true">
					<p><small>(*) Campos obligatorios</small></p>

					<div class="fila">
						<p>Nombre (*)</p>
						<input type="text" ng-model="agregarprofesor_nombre" maxlength="32" placeholder="Nombre" />
					</div>

					<div class="fila">
						<p>Segundo Nombre</p>
						<input type="text" ng-model="agregarprofesor_snombre" maxlength="32" placeholder="Segundo nombre" />
					</div>

					<div class="fila">
						<p>Apellido (*)</p>
						<input type="text" ng-model="agregarprofesor_apellido" maxlength="32" placeholder="Apellido" />
					</div>

					<div class="fila">
						<p>Segundo Apellido</p>
						<input type="text" ng-model="agregarprofesor_sapellido" maxlength="32" placeholder="Segundo apellido" />
					</div>

					<div class="fila">
						<p>Cédula</p>
						<input type="text" ng-model="agregarprofesor_cedula" maxlength="32" placeholder="Cédula" />
					</div>

					<div class="fila">
						<p>Correo electrónico</p>
						<input type="text" ng-model="agregarprofesor_email" maxlength="64" placeholder="Email" />
					</div>

					<div class="fila">
						<p>Teléfonos de contacto</p>
						<input type="text" ng-model="agregarprofesor_tlfs" maxlength="64" />
					</div>
				</div>
			</div>
		</div>

		<div class="fila">
			<p>Sección (*)</p>
			<input type="text" ng-model="agregarguia_seccion" maxlength="12" placeholder="Sección" />
		</div>

		<div class="fila">
			<p>Tipo</p>
			<select ng-model="agregarguia_tipo">
				<option value="-1">----- NO APLICA -----</option>
				<option>Artículo</option>
				<option>Revista</option>
			</select>
		</div>

		<div class="fila">
			<p>Comentario</p>
			<textarea ng-model="agregarguia_comentario" placeholder="Escriba un comentario.."></textarea>
		</div>

		<div class="fila" ng-init="cargar_personal()">
			<p>Recibido por (*)</p>
			<select ng-model="agregarguia_recibida_por" ng-show="personal">
				<option ng-repeat="p in personal" ng-if="p.id > 1" value="{{ p.id }}">{{ p.nombre_completo }}</option>
			</select>

			<span ng-hide="personal">Cargando...</span>
		</div>

		<div class="fila">
			<p>PDF (*)</p>
			<input type="file" ng-hide="upload_progress" />
			<button class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

			<div class="progress" ng-show="upload_progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
					{{ upload_progress }}%
				</div>
			</div>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" ng-click="agregar_guia()">Añadir</button>
		</div>
	</div>
</div>