<form class="agregar_guia" name="agregar" ng-controller="Guia" ng-init="init_form_cache()" ng-submit="agregar_guia()" novalidate>
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-volver" href="./#/buscarguias">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Guías &rarr; Agregar</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Título (*)</p>
			<input type="text" name="titulo" ng-minlength=1 ng-maxlength=128 ng-model="guia.titulo" placeholder="Título" required />
		</div>

		<div class="fila" ng-init="cargar_carreras()">
			<p>Carreras (*) <span class="badge" ng-show="loginService.getCurrentUser().carreras_agregar" ng-click="agregar_carrera()" title="Añadir nueva carrera">+</span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="guia.carrera" name="carrera" ng-change="cargar_materias()" required ts-select-fix>
				<option ng-repeat="c in carreras" ng-if="c.estado == 1" value="{{ c.id }}">{{ c.nombre }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Materias (*) <span class="badge" ng-show="loginService.getCurrentUser().materias_agregar" ng-click="agregar_materia()" title="Añadir nueva materia">+</span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="guia.materia" name="materia" required ng-init="cargar_materias()" ts-select-fix>
				<optgroup ng-repeat="g in materias | unique:'periodo'" label="{{ (g.periodo + (g.tipo_carrera == 'Semestral' ? ' semestre' : (g.tipo_carrera == 'Anual' ? ' año' : ''))) }}">
					<option ng-repeat="m in materias" ng-if="m.periodo == g.periodo" ng-value="m.id">{{ m.nombre }}</option>
				</optgroup>
			</select>

			<span ng-hide="guia.carrera">Seleccione una carrera</span>
		</div>

		<div class="fila" ng-init="cargar_profesores()">
			<p>Profesor (*) <span class="badge" ng-show="loginService.getCurrentUser().profesores_agregar" ng-hide="guia.agregarprofesor" ng-click="anadir_profesor()" title="Añadir nuevo profesor">+</span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-hide="guia.agregarprofesor" name="profesor" ng-model="guia.profesor" ng-show="profesores" required ts-select-fix>
				<option ng-repeat="p in profesores" ng-if="p.estado == 1" value="{{ p.id }}">{{ p.nombre_completo }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Sección (*)</p>
			<input type="text" name="seccion" ng-minlength=1 ng-maxlength=12 ng-model="guia.seccion" placeholder="Sección" required />
		</div>

		<div class="fila" ng-init="cargar_tipos()">
			<p>Tipo</p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="guia.tipo" name="tipo" ts-select-fix>
				<option value="">----- NO APLICA -----</option>
				<option ng-repeat="t in tipos" ng-value="t.id">{{ t.nombre }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Comentario</p>
			<textarea ng-model="guia.comentario" name="comentario" placeholder="Escriba un comentario.."></textarea>
		</div>

		<div class="fila" ng-if="!estaAnadiendo">
			<p>PDF (*)</p>
			<input name="pdf" type="file" ng-hide="upload_progress" />
			<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

			<div class="progress" ng-show="upload_progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
					{{ upload_progress }}%
				</div>
			</div>
		</div>

		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>