<div class="buscar" ng-controller="Guia">	
	<h1 style="font-size: 20px;">Guías</h1>

	<p>
		<a href="./#/agregarguia" class="btn btn-soincopy" ng-show="loginService.getCurrentUser().anadir_guias"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</a>
	</p>

	Ver guías con status de 
	<select ng-options="e.val as e.nombre for e in estados" ng-model="buscar_status"></select> <button class="btn btn-soincopy" ng-click="cargar_guias()">Buscar</button>
	<br/>

	<div class="botones">
		<div ng-show="g_">
			<a class="btn btn-primary" ng-show="loginService.getCurrentUser().modificar_guias" href="./#/modificarguia/{{g_.codigo}}">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
			</a>

			<a class="btn btn-warning" ng-show="g_.pdf" target="_blank" href="" ng-click="ver_pdf(g_.pdf)">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver guía
			</a>

			<button class="btn btn-info" ng-show="g_.status != 2 && loginService.getCurrentUser().modificar_guias" ng-click="cambiar_estado(2, g_.codigo)">
				<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Deshabilitar
			</button>

			<button class="btn btn-danger" ng-show="g_.status != -1 && loginService.getCurrentUser().modificar_guias" ng-click="cambiar_estado(-1, g_.codigo)">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Rechazar
			</button>

			<button class="btn btn-success" ng-show="g_.status != 1 && loginService.getCurrentUser().modificar_guias" ng-click="cambiar_estado(1, g_.codigo)">
				<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Aprobar
			</button>
		</div>
	</div>

	<div class="filtros" ng-show="false">
		<h4>Filtros</h4>

		<div class="fila" ng-init="cargar_carreras()">
			<span>Carrera&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<select ng-model="filtros.carrera" ng-init="filtros.carrera = -1" name="carrera" ng-change="cargar_materias(); cargar_periodos();">
				<option value="-1" selected>----- NO APLICA -----</option>
				<option ng-repeat="c in carreras" ng-if="c.estado == 1" value="{{ c.id }}">{{ c.nombre }}</option>
			</select>
		</div>

		<div class="fila">
			<span>Materia&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<select ng-model="filtros.materia" ng-init="filtros.materia = -1" name="materia" ng-options="c.id as c.nombre group by (c.periodo + (c.tipo_carrera == 'Semestral' ? ' semestre' : (c.tipo_carrera == 'Anual' ? ' año' : ''))) for c in materias | quitarDeshabilitados">
				<option value="-1">----- NO APLICA -----</option>
			</select>
		</div>

		<div class="fila">
			<span>Período&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<select ng-model="filtros.periodo" ng-init="filtros.periodo = -1">
				<option value="-1">----- NO APLICA -----</option>
				<option ng-repeat="p in periodos" value="{{ p.periodo }}">{{ p.periodo + (p.tipo == 'Anual' ? ' año' : (p.tipo == 'Semestral' ? ' semestre' : '')) }}</option>
			</select>
		</div>

		<div class="fila" ng-init="cargar_profesores()">
			<span>Profesor&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<select name="profesor" ng-model="filtros.profesor" ng-init="filtros.profesor = -1">
				<option value="-1">----- NO APLICA -----</option>
				<option ng-repeat="p in profesores">{{ p.nombre_completo }}</option>
			</select>
		</div>
	</div>

	Buscar <input type="text" ng-model="buscador" ng-init="buscador = ''" placeholder="Ej. 19393, Pedro Perez, 19/03/2016, etc." data-toggle="tooltip" data-placement="top" title="Se puede filtrar la información usando cualquier campo" />

	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>

	<p ng-hide="guias">Cargando guías..</p>

	<table class="table table-stripped" ng-init="cargar_guias(); order = '+codigo';" ng-show="guias">
		<thead>
			<th class="text-center">
				Código
				<span class="glyphicon glyphicon-arrow-down order" data-toggle="tooltip" data-placement="top" title="Ordenar de menor a mayor" ng-click="order = '+codigo'" ng-show="order != '+codigo'" aria-hidden="true"></span> 
				<span class="glyphicon glyphicon-arrow-up order" data-toggle="tooltip" data-placement="top" title="Ordenar de mayor a menor" ng-click="order = '-codigo'" ng-show="order != '-codigo'" aria-hidden="true"></span>

				<script>
					$(document).ready(function(){
					    $('[data-toggle="tooltip"]').tooltip(); 
					});
				</script>
			</th>
			<th class="text-center">
				Título
				<span class="glyphicon glyphicon-arrow-down order" data-toggle="tooltip" data-placement="top" title="Ordenar de menor a mayor" ng-click="order = '+titulo'" ng-show="order != '+titulo'" aria-hidden="true"></span> 
				<span class="glyphicon glyphicon-arrow-up order" data-toggle="tooltip" data-placement="top" title="Ordenar de mayor a menor" ng-click="order = '-titulo'" ng-show="order != '-titulo'" aria-hidden="true"></span>

				<script>
					$(document).ready(function(){
					    $('[data-toggle="tooltip"]').tooltip(); 
					});
				</script>
			</th>
			<th class="text-center">Precio</th>
			<th class="text-center">
				Profesor
			</th>
			<th class="text-center">Sección</th>
			<th class="text-center">Tamaño</th>
			<th class="text-center">Recibida por</th>
			<th class="text-center">Fecha de entrega</th>
		</thead>
		<tbody ng-init="actual = 0;">
			<tr ng-click="seleccionar(g)" ng-repeat="g in guias | orderBy:order | paginar:nroResultados+'|'+actual" 
				ng-if="(!buscador || 
						g.codigo.indexOf(buscador) != -1 ||
						g.titulo.indexOf(buscador) != -1 ||
						g.profesor.nombre_completo.indexOf(buscador) != -1 ||
						g.seccion.indexOf(buscador) != -1 ||
						g.carrera_nombre.indexOf(buscador) != -1 ||
						g.materia_nombre.indexOf(buscador) != -1 ||
						g.entregada_por.nombre_completo.indexOf(buscador) != -1 ||
						g.recibida_por.nombre_completo.indexOf(buscador) != -1 ||
						g.fecha.indexOf(buscador) != -1 ||
						(g.numero_paginas + ' páginas, ' + g.numero_hojas + ' hojas').indexOf(buscador) != -1)

						&&

						(
							(g.carrera_id === filtros.carrera || filtros.carrera == -1) &&
							(g.materia === filtros.materia || filtros.materia == -1) &&
							(g.profesor.nombre_completo === filtros.profesor || filtros.profesor == -1) &&
							(g.periodo === filtros.periodo || filtros.periodo == -1)
						)
						"
				class="{{ g_.id == g.id ? 'bg-selected' : '' }}">
				<td class="text-center">{{ g.codigo }}</td>
				<td class="text-center">{{ g.titulo }}</td>
				<td class="text-center">{{ g.precio | currency:'Bs. ' }}</td>
				<td class="text-center">{{ g.profesor.nombre_completo }}</td>
				<td class="text-center">{{ g.seccion }} de {{ g.materia_nombre }} ({{ g.carrera_nombre }})</td>
				<!--<td class="text-center">{{ g.entregada_por.nombre_completo }}</td>-->
				<td class="text-center">
					<span ng-if="g.numero_paginas">{{ g.numero_paginas }} páginas, {{ g.numero_hojas }} hojas</span>
					<span ng-if="!g.numero_paginas">Sin PDF</span>
				</td>
				<td class="text-center">{{ g.recibida_por.nombre_completo }}</td>
				<td class="text-center">{{ g.fecha }} a las {{ g.hora }}</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center" ng-show="nroResultados < guias.length">
		<ul class="pagination">
			<li ng-repeat="i in paginationCount(nroResultados, guias.length)" class="{{ actual == i ? 'active' : '' }}">
				<a href="" ng-click="$parent.actual = i;">{{ i + 1 }}</a>
			</li>
		</ul>
	</div>
</div>