<form class="modificar" ng-controller="Guia" name="agregar" ng-submit="modificar_guia()">
	<p class="btn-volver">
		<a class="btn btn-volver" href="./#/buscarguias"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Volver</a>
	</p>

	<h1 style="font-size: 20px;">Guías <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Editar</h1>

	<h2>
		Guía {{ guia.codigo }} 
		<small>
			<small>
				<div class="btn-group">
					<button type="button" class="btn btn-info btn-xs" ng-show="guia.status != 2" ng-click="cambiar_estado(2)">Desactivar</button>
					<button type="button" class="btn btn-danger btn-xs" ng-show="guia.status != -1" ng-click="cambiar_estado(-1)">Rechazar</button>
					<button type="button" class="btn btn-success btn-xs" ng-show="guia.status != 1" ng-click="cambiar_estado(1)">Aprobar</button>
				</div>
			</small>
		</small>
	</h2>
	<p><span style="font-size: 16px; font-weight: bold; letter-spacing: 2px;" class="status-{{ guia.status_str }}">{{ guia.status_str }}</span></p>

	<div class="register-form" ng-show="guia">
		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Título (*)</p>
			<input type="text" ng-model="guia.titulo" maxlength="128" placeholder="Título" />
		</div>

		<div class="fila" ng-init="cargar_carreras()">
			<p>Carreras (*) <span class="badge" ng-show="loginService.getCurrentUser().carreras_agregar" ng-click="agregar_carrera()" title="Añadir nueva carrera"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="guia.carrera" name="carrera" ng-change="cargar_materias()" required ts-select-fix>
				<option ng-repeat="c in carreras" ng-if="c.estado == 1" value="{{ c.id }}">{{ c.nombre }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Materias (*) <span class="badge" ng-show="loginService.getCurrentUser().materias_agregar" ng-click="agregar_materia()" title="Añadir nueva materia"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-model="guia.materia" name="materia" required ng-init="cargar_materias()" ts-select-fix>
				<optgroup ng-repeat="g in materias | unique:'periodo'" label="{{ (g.periodo + (g.tipo_carrera == 'Semestral' ? ' semestre' : (g.tipo_carrera == 'Anual' ? ' año' : ''))) }}">
					<option ng-repeat="m in materias" ng-if="m.periodo == g.periodo" value="{{ m.id }}">{{ m.nombre }}</option>
				</optgroup>
			</select>

			<span ng-hide="guia.carrera">Seleccione una carrera</span>
		</div>

		<div class="fila" ng-init="cargar_profesores()">
			<p>Profesor (*) <span class="badge" ng-show="loginService.getCurrentUser().profesores_agregar" ng-hide="guia.agregarprofesor" ng-click="anadir_profesor()" title="Añadir nuevo profesor"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></span></p>
			<select class="selectpicker" data-live-search="true" title="" data-width="75%" ng-hide="guia.agregarprofesor" name="profesor" ng-model="guia.profesor" ng-show="profesores" required ts-select-fix>
				<option ng-repeat="p in profesores" ng-if="p.estado == 1" value="{{ p.id }}">{{ p.nombre_completo }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Sección (*)</p>
			<input type="text" ng-model="guia.seccion" maxlength="12" placeholder="Sección" />
		</div>

		<div class="fila">
			<p>Comentario</p>
			<textarea ng-model="guia.comentario" placeholder="Escriba un comentario.."></textarea>
		</div>

		<div class="fila" ng-hide="guia.pdf">
			<p>PDF (*)</p>
			<input type="file" ng-hide="upload_progress" />
			<button type="button" class="btn-upload btn btn-primary" ng-hide="upload_progress" ng-click="subir_pdf();">Subir</button>

			<div class="progress" ng-show="upload_progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{ upload_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ upload_progress }}%">
					{{ upload_progress }}%
				</div>
			</div>
		</div>

		<div class="fila" ng-show="guia.pdf">
			<p><a class="btn btn-primary" style="font-size: 10px; margin-top: -5px;" href="" ng-click="ver_pdf(guia.pdf)">Ver PDF</a></p>
			<button type="button" ng-if="loginService.getCurrentUser().eliminar_pdf_guias" class="btn btn-danger" ng-click="eliminar_pdf()">Eliminar PDF</button>
		</div>

		<div ng-if="guia.pdf">
			<hr/>
			<h5>{{ guia.numero_paginas }} páginas, {{ guia.numero_hojas }} hojas</h5>

			<div class="fila">
				<p>Número de hojas (*)</p>
				<input type="number" name="producto_cantidad" ng-model="guia.producto.cantidad" ng-min=1 required />
			</div>
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary btn-lg" type="submit" ng-disabled="agregar.$invalid"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
		</div>
	</div>
</form>