<form class="agregar agregar_proveedor" ng-controller="Proveedor" name="agregar" ng-submit="registrar_proveedor()">
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-link" href="./#/proveedores">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Proveedores &rarr; {{ editar ? 'Editar' : 'Agregar' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="proveedor.nombre" required ng-maxlength=128 ng-minlength=1 />
		</div>

		<div class="fila">
			<p>RIF o Cédula (*)</p>
			<input type="text" ng-model="proveedor.ni" required ng-maxlength=32 ng-minlength=1 />
		</div>

		<div class="fila">
			<p>Dirección</p>
			<input type="text" ng-model="proveedor.direccion" ng-maxlength=256 />
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>